<ion-header>
  <ion-toolbar mode="ios" color="success">
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="cadastro(form)">
    <ion-list>
      <ion-item>
        <ion-input label-placement="floating" fill="solid" placeholder="Usuario" type="text" name="usuario" ngModel>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="input" label-placement="floating" fill="solid" placeholder="Email" type="text" name="email"
          ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="input" label-placement="floating" fill="solid" placeholder="Senha" type="text" name="senha"
          ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="input" label-placement="floating" fill="solid" placeholder="Confirmar Senha" type="text"
          name="confirmarsenha" ngModel></ion-input>
      </ion-item>

      <p style="margin-left:15px; font-size:12px;">Já possui uma conta?<a routerLink="/">Entre</a></p>
    </ion-list>
    <br>
    <ion-button expand="full" color="success" shape="round" class="btn btn-primary mt-3"
      type="submit">CADASTRAR</ion-button>
    <p>Você já possui uma conta?<a routerLink="/">Faça login aqui</a>.</p>
  </form>
</ion-content>